html {
    background: rgb(112,112,112);
    background: linear-gradient(180deg, rgba(112,112,112,1) 0%, rgba(154,154,154,1) 25%, rgba(212,212,212,1) 100%);
    background-size: 150% 150%;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
header {
    background: rgb(111, 140, 179);
    opacity: 70%;
    margin-top: -10px;
    margin-left: -10px;
    width: auto;
    height: 50px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 25px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    font-size: 45px;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bolder;
}
#headshot {
    float: left;
    width: 400px;
    height: 300px;
}
aside {
    float: right;
    margin-right: 1em;
    text-align: right;
}
a {
    color: black;
    text-decoration: none;
}
footer {
    font-size: 18px;
    font-weight: bold;
    border-top: green;
    margin: 10px, auto, 10px, auto;
    width: fit-content;
    bottom: 5px;
    position: fixed;
    border-top: 1px solid black;
}
#content {
    margin-top: 10px;
}
#bio {
    margin-left: 430px;
    line-height: 18px;
}
#blog {
    margin-top: 10px;
    display: none;
}
#posts {
    display: none;
}
#photo-reel {
    display: flex;
    flex-direction: row;
    margin-top: 250px;
}
.photos {
    padding: 5px;
}