html {
    height: 100%;
    background: rgb(112,112,112);
    background: linear-gradient(180deg, rgba(112,112,112,1) 0%, rgba(154,154,154,1) 25%, rgba(212,212,212,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
header {
    background: rgb(111, 140, 179);
    opacity: 70%;
    margin-top: -10px;
    margin-left: -10px;
    width: 820px;
    height: 50px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 25px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    font-size: 45px;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bolder;
}
#headshot {
    width: 400px;
    height: 300px;
    border-radius: 30px;
}
aside {
    float: right;
    margin-right: 1%;
    text-align: right;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-style: italic;
    color: turquoise;
}
footer {
    position: fixed;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    border-top: green;
    text-align: center;
    right: 0.2%;
    bottom: 0;
    border-top: 1px solid black;
}
#content {
    margin-top: 10px;
    margin-left: 10%;
}
#tetris {
    margin-top: 10px;
}
#bio {
    line-height: 18px;
    max-width: 400px;
    word-wrap: normal;
}
#blog {
    margin-top: 10px;
    display: none;
}
#posts {
    display: none;
}
#photo-reel {
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    padding-bottom: 18px;
}
.photos {
    padding: 5px;
    border-radius: 30px;
}