html {
    background: gray;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    font-size: 35px;
}
#headshot {
    float: left;
    width: 400px;
    height: 300px;
}
aside {
    float: right;
    margin-right: 1em;
    text-align: right;
}
footer {
    font-size: 16px;
    border-top: green;
    margin: 10px, auto, 10px, auto;
    text-align: center;
    margin-top: 20%;
}
